    <!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h3>Dynamic tables (dtable) base on json data from web api (mongo db)</h3>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet velit nec molestie dapibus. Sed libero nunc, euismod ut mollis sed, convallis non lacus. Proin porta eget lectus sed eleifend. Morbi efficitur in urna ac placerat. Vivamus tristique auctor lacus, non efficitur sapien maximus non. Curabitur sit amet suscipit mauris, eu euismod felis. Duis tempus egestas mi congue rhoncus.
    </p>
</div>