$orange: #000;
$darkGrey: #333;
$ligthGrey: #c6c7c8;
$mediumGrey: #666;
$indigo: #525199;
$skye:#60A6DA;
$fuchsia:#AB0066;
$lime:#D0D93C;
$leaf:#349651;
$red:#FF0000;
$white:#fff;
$green:#349651;
$defaultBackground:#fafafa;
$orangeActive:#fd853c;
$blue: #788cc8;
$veryLightGrey:#e3e3e3;
$formBackground:#efeeee;
$grey:#ddd;
$borderGrey:#ccc;
$mediumGrey:#878585;